<%%= simple_form_for [:admin, @<%= singular_table_name %>], :html => { :class => 'form-horizontal', :autocomplete => "off", :multipart => true } do |f| %>
  <fieldset>
    <% @attributes.each do |attribute| -%>
      <% next if ["id", "created_at", "updated_at"].include?(attribute.name) -%>
      <% if attribute.type.to_s == "text" %>
        <%%= f.input :<%= attribute.name %>, :label => "<%= attribute.name %>", :input_html => {:class => "span6", :rows => 5} %>
      <% else %>
        <%%= f.input :<%= attribute.name %>, :label => "<%= attribute.name %>", :input_html => {:class => "span6"} %>
      <% end %>
    <% end -%>
  </fieldset>

  <div class="form-actions">
    <%%= f.button :submit, "Kaydet", :class => 'btn-primary', data: { disable_with: "Lütfen bekleyin..." } %>
    <%%= link_to "Yeni Kayıt", new_admin_<%= singular_table_name %>_path, :class => 'btn btn-warning' %>
    <%%= link_to "Geri Dön", admin_<%= plural_table_name %>_path(:back => true), :class => 'btn' %>
  </div>
<%% end %>
